.PreNav{
background-color: rgb(29, 28, 28);
display: grid;
grid-template-columns: 5fr 3fr;
color: whitesmoke;
padding: 2px;


}
.PreNav > div {

    padding: 0.5vmax 4vmax;
}
.PreNav > div > span{

    color: rgba(180,180,180,0.644);
    font-size: 0.8vmax;
    font-weight: 100;
}
.PreNav > div > a {
    color: rgb(180,180,180);
    font-size: 0.9vmax;
    margin: 1vmax;
    text-decoration: none;
    font-family: 'Gil Sans', 'Arial', sans-serif;


}